<div ng-controller="HomeController as vm">

<h1 id='contact'>ANY PROBLEMS? JUST CALL JEREMY RIGHT NOW! HIS PHONE IS XXX-XXX-XXXX</h1>

<div style='text-align:center'>
<form method="get" action="http://www.google.com/search">
<input type="text"   name="q" size="31"
maxlength="255" value="" />
<input type="submit" value="Ask your Questions" />
<!-- <input type="radio"  name="sitesearch" value="" />
The Web
<input type="radio"  name="sitesearch"
value="askdavetaylor.com" checked /> Ask Dave Taylor<br /> -->
</form>
</div>
</div>
