<!-- show the login form-->
<div ng-show='nav.isLogin'>
  <form class="well container" ng-submit="nav.loginUser()">

      <label>Username</label>
      <p><span class="glyphicon glyphicon-user"></span></p>
      <input class="form-control" placeholder="Username..." ng-model="nav.user.username">
      <label>Password</label>
      <p><span class="glyphicon glyphicon-signal"></span></p>
      <input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.password">
      <div style="text-align:center">
        <button type="button" ng-click="nav.isLogin = false;" class="btn btn-warning">Register</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>


<!--show the Register Form-->
<div ng-show='!nav.isLogin'>
  <form class="well container" ng-submit="nav.registerUser()">
      <label>Username</label>
      <p><span class="glyphicon glyphicon-user"></span></p>
      <input class="form-control" placeholder="Username..." ng-model="nav.user.username">
      <label>Email</label>
      <p><span class="glyphicon glyphicon-envelope"></span></p>
      <input type="email" class="form-control" placeholder="Email..." ng-model="nav.user.email">
      <label>Password</label>
      <p><span class="glyphicon glyphicon-signal"></span></p>
      <input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.password">
      <label>Confirm Password</label>
      <p><span class="glyphicon glyphicon-signal"></span></p>
      <input type="password" class="form-control" placeholder="Password..." ng-model="nav.user.confirmPassword">
      <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)" style="color: red">Your passwords must match.</div>
      <div style="text-align:center">
        <button type="button" ng-click="nav.isLogin = true;" class="btn btn-warning">Login</button>
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>
</div>
