<div ng-contrller='HomeController as nav'>
<h1> Dear {{nav.status.username}}, this is your profile page.</h1>
<div id='info' style='text-align:center'>
<h1>Personal Info</h1>
<p>First Name: </p><input type='text' placeholder="first name">
<p>Last Name: </p><input type='text' placeholder="Last name">
<p>Gender: </p>
<select>
  <option value='male'>Male</option>
  <option value='female'>Female</option>
</select>
<!-- <p>Age: </p><input type='text' placeholder="Age"> -->
<h1>Address</h1><input type='text' placeholder="Address">
<p>House #: </p><input type='text' placeholder="House #">
<p>Street: </p><input type='text' placeholder="Street">
<p>City: </p><input type='text' placeholder="City">
<p>State: </p><input type='text' placeholder="State">

<h1>Contact Info</h1>
<p>Cell: </p><input type='text' placeholder="Cell #">
<p>Email: </p><input type='text' placeholder="Email">


</div>
<div style='text-align:center'>
<button class='btn btn-lg btn-success'>Save</button>
</div>





</div>
